body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
	padding-bottom: 0.5em;
    background: #3F51B5;
    width: 100%;

	} 


footer{
	height: 100px;
    background: #000;
    width: 100%;

	}

main{
	justify-content: center;
    display: flex;
    padding: 2em;
}

h2{
	
}
.cardPreguntas{
	background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#respuesta{
	display: flex;
    flex-direction: column;	
}
.imglogo{
	width: 100px;
    float: left;
    margin-left: 2em;
	position: absolute;
}

.btn{
	    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}

.correcto {
    background-color: #28a745 !important;
}

.incorrecto {
    background-color: #dc3545 !important;
}


#feedback {
	margin-top: 20px;
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 1em;
}

.numeroPregunta { 
	text-align: right;
    color: white;
    display: block;
    font-weight: bold;
	margin-right: 1em;

}


.titulocategoria{
	text-align: center;
    color: white;
    padding-top: 1em;
}